body {
   background: #171819;
}

.layout-page {
   max-width: 800px;
   margin: 0 auto;
   padding: 0 13px;
   cursor: default;
}

.layout-offleft-1 {
   margin-left: 8px;
}

.layout-offleft-2 {
   margin-left: 16px;
}

.layout-offtop-1 {
   margin-top: 4px;
}

.layout-offtop-2 {
   margin-top: 8px;
}

.layout-offtop-3 {
   margin-top: 11px;
}

.layout-offtop-4 {
   margin-top: 80px;
}

.layout-offbottom-1 {
   margin-bottom: 4px;
}

.layout-offbottom-2 {
   margin-bottom: 8px;
}

.layout-offbottom-3 {
   margin-bottom: 11px;
}

.layout-offbottom-4 {
   margin-bottom: 80px;
}

.layout-center {
   text-align: center;
}