.text {
   color: #F4F4F4;
   font-family: 'Work Sans', sans-serif;
   text-decoration: none;
   font-size: 18px;
   letter-spacing: -0.1px;
   font-weight: 600;
   fill: currentColor;
}

.text:not(a) {
   cursor: default;
}

.text-large {
   font-size: 30px;
}

.text-compress {
   letter-spacing: -1.0px;
}

.text-expand {
   letter-spacing: 1px;
}

.text-small1 {
   font-size: 18px;
}

.text-small2 {
   font-size: 15px;
}

.text-small3 {
   font-size: 11px;
}

.text-hoverwhite:hover {
   color: #F4F4F4;
}

.text-gray {
   color: #545555;
}

.text-thin {
   font-weight: 500;
}

.text-bold {
   font-weight: 700;
}

*::selection {
   background: #0c0d0e;
}