.card-container {
   position: relative;
   perspective: calc(var(--perspective) * 1px);
   perspective-origin: calc(var(--pointerX) * 100 * 1%)
                       calc(var(--pointerY) * 100 * 1%);
}

.card {
   --rotate-dampener: 0.1;
   transform: translateZ(calc(var(--stateAnimated) * 1px))
              rotateX(calc((var(--pointerY) - 0.5) * var(--rotate-dampener) * 1deg))
              rotateY(calc((0.5 - var(--pointerX)) * var(--rotate-dampener) * 1deg));
}

.card-image {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
}

.card-image img {
   position: absolute;
   top: -1px;
   left: -1px;
   width: calc(100% * var(--columns, 1) + 2px);
   height: calc(100% * var(--rows, 1) + 2px);
}

.card-image-active {
   box-shadow: 0 0 20px rgba(0, 0, 0, .6);
   contain: strict;
   opacity: var(--state, 0.001);
}

.card-image-active img {
   transform: translate(calc(var(--frameTranslateX) * 1%),
                        calc(var(--frameTranslateY) * 1%));
}