/* Card */

.card-container {
   position: relative;
   perspective: var(--perspective, none);
   perspective-origin: var(--perspectiveOriginX, 50%)
                       var(--perspectiveOriginY, 50%);
}

.card {
   transform: translateZ(var(--translateZ, 0px))
              rotateX(var(--rotateX, 0deg))
              rotateY(var(--rotateY, 0deg));
}

.card-inactive-container {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.card-inactive-container img {
   width: 100%;
   height: 100%;
}

.card-active-container {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: var(--opacityCeil, 0.001);
   box-shadow: 0 0 20px rgba(0, 0, 0, .6);
   contain: strict;
   overflow: hidden;
}

.card-active-container img {
   transform: translateX(var(--frameTranslateX, 0%))
              translateY(var(--frameTranslateY, 0%));
}